<div class="filtros bg-white w-100">
    <div class="row px-4 py-3 w-100">
        <div class="col-3">
            <fieldset class="filtro">
                <label for="">Altura de mora</label>
                <select name="" id="" class="form-select">
                    <option value="">Elije un opción</option>
                </select>
            </fieldset>
        </div>

        <div class="col-3">
            <fieldset class="filtro">
                <label for="">Fecha de cierre</label>
                <select name="" id="" class="form-select">
                    <option value="">Elije un opción</option>
                </select>
            </fieldset>
        </div>

        <div class="col-3">
            <fieldset class="filtro">
                <label for="">Tienda</label>
                <select name="" id="" class="form-select">
                    <option value="">Elije un opción</option>
                </select>
            </fieldset>
        </div>

        <div class="col-3">
            <fieldset class="filtro">
                <label for="">Género</label>
                <select name="" id="" class="form-select">
                    <option value="">Elije un opción</option>
                </select>
            </fieldset>
        </div>
    </div>
    <div class="w-100 bg-white px-4 py-3 border-top d-flex justify-content-end">
        <button class="boton primario sin-borde me-2">
            Limpiar filtros
        </button>
        <button class="boton primario relleno">
            Aplicar los filtros
        </button>
    </div>
</div>
